body
{
    background-color:rgb(5, 80, 241);
}

.form1
{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width:400px;
    height:400px;
    margin-left:20px;
    margin-top:20px;
}
 h1
 {
    margin-left:15px;
    font-size:25px;
 }
 .reg
 {
   tex-decoration:underline; 
 }
.input
{
    display:block;
    width:350px;
    height:25px;
    margin:20px;
}

.checkbox
{
    margin-left:15px;
}

.validate
{
    margin-left:15px;
    width:350px;
    height:35px;
    background-color:rgb(5, 80, 241);
    border:none;
    color:white;
    border-radius:5px;
}

.text
{
   display:inline-block;
   font-size: 80px; 
   margin-left: 60px;
   font-weight: 900;
   color:white;
   vertical-align:top;
   width:350px;
}



.login
{
    color:rgb(45, 118, 255);
}
.last
{
    margin:15px;
}
